*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: linear-gradient(to bottom right, #f2a900, #f2a900d4);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: white;

    
}
.container{  
  background: linear-gradient(to bottom right, #f2a900, #f2a900a5);
}
.header {
  text-align: center;
  padding: 50px;
  font-size: 50px;
}
.invoiceBtnsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.memoInput,
.amountInput {
  padding: 25px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  background-color: rgba(245, 245, 245, 0.487);
}
.memoInput:focus,
.amountInput:focus {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.935);
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  font-size: 20px;
  padding: 50px;
  max-height: 50px;
}
.newInvBtn,
.payInvBtn {
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  background-color:  #6d6d6dbf;
   
}
button:hover,
button:focus{
  background-color:  #f2a900; 
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.935);
  outline: none;
}
button {
  cursor: pointer;
}
.newInvBtn:hover,
.payInvBtn:hover {
  background-color:  #f2a900;
}
.txEl {
  overflow: auto;
    
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.txTxt {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  min-width: 300px;
  
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #6d6d6dbf;
  font-size: .9em;
  color: white;
  text-align: center;
  flex-direction: column;
}
.walletsDiv {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.walletDiv {
  padding: 10px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .5);
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff2a;
  font-size: 2rem;
}
.error{
  outline: solid red 3px;
}

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background:  rgba(245, 245, 245, 0.487); 
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #f2a900; 
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#c68b01;
  }
.icon {
    fill: white;
}
.material-symbols-outlined {
  color: white;
  font-variation-settings:
  'FILL' #fff,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  }
  .msgTxtEl {
  position: absolute;
  font-size: 3rem;
  text-align: center;
    
  }
.menuIcon {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 75px;
  left: 50px;
  z-index: 9999;
  font-size: 1.3em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  }
  .menuIcon:focus,
  .menuIcon:hover {
  color: #f2a900; 
  background-color: white;
  }

.menuDiv {
  max-width: 250px;
  
  position: absolute;
  top: 90px;
  left: 105px;
  background-color:white;
  color: black;
  font-size: .5em;
  text-align: right;
  animation: expand 500ms ease-in-out;
  transform-origin: top;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }
  
  100% {
    transform: scaleY(1);
  }
}
.menuItem {
  width: 250px;
 
  position: relative;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none; 
  border: none;
  background-color: #6d6d6d;
  outline: solid 3px#f2a900de; 
  margin: 3px;
}
.menuItem:hover,
.menuItem:focus {
  background-color: #f2a900; 
  outline: solid 5px white; 
  
}
.hide {
  display: none;
}
.blur {
  filter: blur(5px)
}
.invoiceDiv {
  background-color: white;
  max-width: 600px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  padding: 25px;    
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .9);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  border: solid 10px #6d6d6d;
  outline: solid 15px  #f2a900;

}
.invoiceDiv>p,
.invoiceDiv> div,
.invoiceDiv> button {
  padding: 10px;
}
.flex {
  display: flex;
}
.clsBtn {
  position: relative;
  background-color: white;
  border: none; 
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.clsBtn>span {
  color: #6d6d6d;
  background-color: transparent;
  font-size: 35px;
}

.clsBtn>span:focus,
.clsBtn>span:hover {
  background-color: #f2a900;
  color: white;
}
.cpyBtn{
  padding: 15px;
  background-color: #6d6d6d;
  color: white;
  font-size: 1.1em;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .5);
}
.qrDiv{
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .5);
  margin: 20px;
}
